<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="text-align:center">
          <p style="font-style:italic">Welcome to:</p>
            <h1>Article Reviewer Process</h1>
            <p></p>
            <p>Who are you?</p>
            <p></p>
            <a class="btn btn-warning" href="submitPage">I'm a Article Owner</a>
            <p></p>
            <a class="btn btn-info" href="reviewPage">I'm a Article Reviewer</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</body>
</html>